.row{
    min-height: 70vh;
}

.def{
    font-size: 24px;
}

.name{
    font-size: 40px;
}

.requis{
    color: red;
    font-size: 24px;
    font-weight: 500;
}

.fevill{
    position: absolute;
    bottom: 15px;
    right:30px;
}
