<div class="container">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 text-center">
          <h1 class="font-bold name">UncoverSkills</h1>
          <p class="def">Site de recheche d'emploie au <b>Togo</b></p>
          <div>
            <span class="align-middle">
              <span class="requis align-middle">*</span> 
              Le site web est en cours de
              developpement. <span class="requis align-middle">*</span></span>
          </div>
          <hr><span class="spinner-grow fast align-middle" role="status" aria-hidden="true"></span>
          <div id="countdown"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="fevill">
    By <i><b>Fevill</b></i>
  </div>